.auth-form {
    position: absolute;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 500ms;
    width: 370px;
    z-index: 1;
}

.home .auth-form .container {
    background: #1C1C24;
    padding: 30px 20px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 20px 5px #141313;
}

.auth-form .form .checkbox {
    position: relative;
    width: 16px;
    height: 16px;
}

.auth-form .form .checkbox .check {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
}

.auth-form .form .checkbox .checkmark {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #eee;
    border-radius: 3px;
    z-index: 1;
}

.auth-form .form .checkbox input:checked ~ .checkmark {
    background-color: #50B5FF;
}

.auth-form .form .checkbox input:checked ~ .checkmark::after {
    display: block;
}

.auth-form .form .checkbox .checkmark:hover {
    background-color: #aaa;
}

.auth-form .form .checkbox .checkmark::after {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background-image: url('../images/check-mark.png');
    background-position: center;
    background-repeat: no-repeat;
}

.auth-form .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.auth-form .heading .close-modal {
    border: none;
    background: transparent;
}

.auth-form .heading .close-modal .close-icon {
    fill: #1E75FF;
    margin-left: 5px;
    cursor: pointer;
}

.auth-form .form {
    display: flex;
    flex-direction: column;
}

.auth-form .error {
    color: #f00;
    display: flex;
    justify-content: center;
    font-size: .7rem;
    transition: 100ms;
    max-width: 100%;
    text-align: center;
    font-size: .9rem;
    margin-top: 10px;
}

.auth-form .form label {
    font-size: 14px;
}

.auth-form .form .field-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.auth-form .form .field-wrap:nth-of-type(1) {
    margin-top: 10px;
}

.auth-form .form .field-wrap + .field-wrap {
    margin-top: 20px;
}

.auth-form .form .field-wrap label {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    line-height: 40px;
    pointer-events: none;
    background: transparent;
    transition: 300ms;
    padding: 0;
    transform: translateX(0) translateY(0);
    color: #92929D;
}

.auth-form .form .field-wrap .field {
    width: 100%;
    padding: 10px 15px;
    background: #292932;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    outline: none;
    transition: 200ms ease-in-out;
}

.auth-form .form .field-wrap .field:focus,
.auth-form .form .field-wrap .field:valid {
    border: 1px solid #92929D;
    background: transparent;
}

.auth-form .form .field-wrap .field:focus + label,
.auth-form .form .field-wrap .field:valid + label {
    transform: translateY(-7px);
    padding: 0 10px;
    background-color: #1C1C24;
    line-height: 16px;
}

.auth-form .form .remember {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.auth-form .form .remember .check {
    margin-right: 10px;
    z-index: 2;
}

.auth-form .form .remember .remember-me {
    user-select: none;
    margin-left: 10px;
}

.auth-form .form .re-captcha {
    border-radius: 15px;
}

.auth-form .form .submit-button {
    padding: 15px 0;
    background-color: #1E75FF;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
    line-height: 18px;
}

.auth-form .addition {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #44444F;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}

.auth-form .addition button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.auth-form .addition button:first-of-type {
    color: #92929D;
}

.auth-form .addition button + button {
    margin-top: 15px;
}

.signin .addition button:first-of-type {
    color: #fff;
}

.signup .close-modal {
    background: none;
    border: none;
    cursor: pointer;
}

.signup .form {
    width: 100%;
}

.signup .form .field-wrap .field {
    width: 100%;
}

.signup .terms-n-policy {
    display: flex;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: .1px;
    margin-top: 30px;
}

.signup .terms-n-policy .agreement {
    margin-left: 10px;
}

.signup .terms-n-policy .agreement .rules {
    color: #1E75FF;
    cursor: pointer;
}

.signup .container .addition {
    flex-direction: row;
    justify-content: space-between;
}
/* 
@media (max-width: 800px) {
    .auth-form  .signin-form {
        width: 70vw;
    }
    .auth-form .signin-form fieldset {
        width: 100%;
    }
} */

@media (max-width: 500px) {
    .auth-form {
        width: 95%;
    }
}
