/* .auth-form {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/backgrounds/not-found.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.auth-form {
    position: absolute;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 500ms;
    width: 450px;
}

.home .auth-form .container {
    background: #1C1C24;
    font-size: 2rem;
    padding: 20px 15px;
    border-radius: 15px;
    margin: auto;
    flex-direction: column;
}

.auth-form .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.auth-form .heading .authorization {
    font-size: 2rem;
}
/* 
.auth-form .heading .close-modal {
    text-decoration: none;
    display: flex;
    align-items: center;
} */

.auth-form .heading .close-modal .close-icon {
    fill: #1E75FF;
    margin-left: 3vw;
}

.auth-form .form {
    display: flex;
    flex-direction: column;
}

.auth-form .error {
    color: #f00;
    display: flex;
    justify-content: center;
    font-size: .7rem;
    transition: 100ms;
    max-width: 100%;
    text-align: center;
    font-size: .9rem;
    margin-top: 10px;
}

.auth-form .form label {
    font-size: .85rem;
}

.auth-form .form .field-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.auth-form .form .field-wrap:nth-of-type(1) {
    margin-top: 10px;
}

.auth-form .form .field-wrap + .field-wrap {
    margin-top: 20px;
}

.auth-form .form .field-wrap label {
    position: absolute;
    left: .5rem;
    display: flex;
    align-items: center;
    line-height: 40px;
    pointer-events: none;
    background: transparent;
    transition: 300ms;
    padding: 0 10px;
    transform: translateX(0) translateY(0);
}

.auth-form .form .field-wrap .field {
    width: 100%;
    padding: 10px 15px;
    background: #292932;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    outline: none;
    transition: 200ms ease-in-out;
}

.auth-form .form .field-wrap .field:focus,
.auth-form .form .field-wrap .field:valid {
    border: 1px solid #92929D;
    background: transparent;
}

.auth-form .form .field-wrap .field:focus + label,
.auth-form .form .field-wrap .field:valid + label {
    transform: translateX(5px) translateY(-7px);
    background-color: #1C1C24;
    line-height: 16px;
}

.auth-form .form .remember {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.auth-form .form .remember .check {
    margin-right: 10px;
}

.auth-form .form .remember .remember-me {
    user-select: none;
}

.auth-form .form .re-captcha {
    border-radius: 15px;
}

.auth-form .form .submit-button {
    padding: 15px 0;
    background-color: #1E75FF;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: .9rem;
    margin-top: 20px;
}

.auth-form .addition {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .85rem;
}

.auth-form .addition button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.signup .close-modal {
    background: none;
    border: none;
    cursor: pointer;
}

.signup .form {
    width: 100%;
}

.signup .form .field-wrap .field {
    width: 100%;
}

.signup .container .addition {
    flex-direction: row;
    justify-content: space-between;
}
/* 
@media (max-width: 800px) {
    .auth-form  .signin-form {
        width: 70vw;
    }
    .auth-form .signin-form fieldset {
        width: 100%;
    }
} */

@media (max-width: 500px) {
    .auth-form {
        width: 95%;
    }
}
