.slider {
    position: relative;
    margin-top: 50px;
}

.slider .slick-track {
    margin-left: auto;
    margin-right: auto;
    cursor: grab;
}

.slider .slick-list {
    width: 1170px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 7px;
    transition: 200ms;
}

.slider .slick-arrow:hover {
    padding: 21px;
}

.slider .slick-arrow.slick-prev:hover {
    background-position: 49% center;
}

.slider .slick-arrow.slick-next:hover {
    background-position: 60% center;
}

.slider .slick-arrow::before {
    content: none;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background-color: rgba(255, 0, 0, .1);
    background-image: url('../images/arrow-left.png');
    background-repeat: no-repeat;
    background-position: 51% center;
    margin-left: -50px;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background-color: rgba(255, 0, 0, .1);
    background-image: url('../images/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 57% center;
    margin-right: -60px;
}

.popular-products-slider {
    margin-top: 30px;
    min-height: 500px;
}

.popular-products-slider .slick-list {
    margin-left: -15px;
    width: 1170px;
    min-height: 589px;
}

.popular-products-slider .slick-list {
    cursor: grab;
}

.popular-products-slider .slick-arrow {
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
    border: 1px solid #1E75FF;
    border-radius: 10px;
    z-index: 1;
    transition: 200ms;
}

.popular-products-slider .slick-arrow:hover {
    background-repeat: no-repeat;
}

.popular-products-slider .slick-arrow:focus {
    background-repeat: no-repeat;
}

.popular-products-slider .slick-arrow::before {
    content: none;
}

.popular-products-slider .slick-arrow.slick-prev {
    background-image: url('../images/arrow-left-slider.png');
    background-position: 49% center;
    margin-left: -25px;
}

.popular-products-slider .slick-arrow.slick-next {
    background-image: url('../images/arrow-right-slider.png');
    background-position: 55% center;
    margin-right: -25px;
}

.popular-products-slider .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    padding-top: 125px;
    min-height: 550px;
    margin-top: 30px;
}

.popular-products-slider .slick-slide .cover {
    margin: 0 auto;
    min-height: 330px;
    max-width: 330px;
    border-radius: 10px;
    border: 3px solid #44444F;
}

.popular-products-slider .popular-product {
    display: flex !important;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-color: #1C1C24;
    margin: 0 auto;
    height: 424px;
    justify-content: flex-end;
    position: relative;
    min-width: 370px;
    max-width: 370px;
}

.popular-products-slider .slick-slide {
    width: 370px;
}

.popular-products-slider .popular-product .title {
    display: flex;
    margin-top: 20px;
}

.popular-products-slider .popular-product .title .product-title {
    font-weight: 600;
    letter-spacing: .1px;
    line-height: 24px;
}

.popular-products-slider .popular-product .description {
    color: #B5B5BE;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: .1px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    width: 330px;
}

.popular-products-slider .popular-product .buttons {
    display: flex;
    justify-content: space-between;
}

.popular-products-slider .popular-product .buttons .button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 160px;
    line-height: 18px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #292932;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
}

.popular-products-slider .popular-product .buttons .button:last-child:hover {
    background-color: #1F1F26;
}

.popular-products-slider .popular-product .buttons .button:first-child {
    background-color: #1E75FF;
}

.popular-products-slider .popular-product .buttons .button:first-child:hover {
    background-color: #1C6FF2;
}
